* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 4em 10em;
    display: grid;
    grid-template-areas: "projects main main main main"
                         "projects main main main main"
                         "projects main main main main"
                         "projects main main main main";
}

.projects {
    grid-area: projects;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.projects > * {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.projects > * > *  {
    display: flex;
    gap: 2em;
}

.main {
    grid-area: main;
}