* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: "projects projects main main main main"
                         "projects projects main main main main"
                         "projects projects main main main main"
                         "projects projects main main main main";
}

.projects {
    grid-area: projects;
}

.main {
    grid-area: main;
}